# G Record - Email Distribution list. (multiple times)
# Format <G |EMAIL_DL|DLxx|email_addresses separated by comma|>
G |EMAIL_DL|DL99|abhirohit@gmail.com|

# O Record - Connection String (one time)
# Format <O |Process_Type|host_name|port|service_id|user_id|>
O |PROCESS_ID_1|hostname|port|service_id|user_id|password|

# L Record - Load Batch Section details (one time)
# Format <L |Process_Type|Load_Script_Name.sh|Log_Location|>
L |PROCESS_ID_1|Load_Table.sh|Log_Location|

# LI Record - Load Table individual table details (multiple times)
# Format - <LI|Process_Type|Load_Script_Name.sh|input_data_location|input_data_file|load_control_card_location|load_control_card_name|load_flag|update_flag|header_flag|resume_flag|>
LI|PROCESS_ID_1|Load_Table.sh|input_location|input_file|load_card_location|load_card_name|Y|Y|Y|N|

# LM Record - Combine files (multiple times)
# Format - <LM|Process_Type|Load_Script_Name.sh|input_location|input_file_wildcard|output_location|output_file_name|key_flag|>
LM|PROCESS_ID_1|Load_Table.sh|input_location|input_file*.txt|output_location|output_file_name.txt|Y|

# LX Record - End of Load script (one time)
# Format - LX|Process_Type|End|
LM|PROCESS_ID_1|End|

# R Record - Report Section details (one time)
# Format - <R |Process_Type|Report_Script_Name|Log_Location|
R |PROCESS_ID_1|Report_Data.sh|Log_Location

# RE Record - Generate report (multiple time)
# Format - <RE|Process_Type|Report_Script_Name|report_sql_location|report_sql_name|output_location|output_file_name_without_extension|report_indicator(B-Both, H-HTML, C-CSV)|>
RE|PROCESS_ID_1|Report_Data.sh|sql_location|sql_file.sql|out_location|process_id_1|B|

# RX Record - End of Report (one time)
# Format - <RX|Process_Type|End|>
RX|PROCESS_ID_1|End|

# E Record - Email Section details (one time)
# Format - <E |Process_Type|Email_Script_Name|log_location|DLxx>
E |PROCESS_ID_1|Email_Report.sh|log_location|DL99|

# EI Record - Email individual data (multiple)
# Format - <EI|Process_Type|Email_Script_Name|report_location|report_name_1|report_name_2|report_name_3|report_name_4|report_name_5| (upto 5 reports. report name must be without extension)>
<EI|PROCESS_ID_1|Email_Report.sh|report_location|reoport_1|report_2|

# EX Record - End of Email generate Section
# Format - <EX|Process_Type|End|> (one time)
EX|PROCESS_ID_1|End|